html {
    background-image: linear-gradient(to bottom, rgb(35, 32, 32), rgb(102, 95, 95) 85%);
	background-repeat: no-repeat;
}

body {
	min-height: 100vh;
	box-sizing: border-box;
}

h1 {
	color: #b5b5b5;
    font-size: 600%;
	text-align: center;
}

.biorhyme-destiny-2 {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav {
	display: flex;
	gap: 9px;
	padding: 0%;
	width: 150px;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 8px auto 50px auto;
    
}

nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: flex;
	color:  rgb(255, 142, 20);
	text-decoration: none;
	padding: 10px 20px;
	border: solid #00d0ff;
	border-radius: 10%;
}

nav a:hover {
	background-color: rgb(153, 50, 243);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center ;
  margin: 24px auto 25px auto;
  max-width: calc(100%-48);
}

.character-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: calc(100%-48);
  max-height: 100%;
  width: 30%;
  height: 200px;
  margin:10px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
  color: whitesmoke;
  font-style: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 2px black;
}

.data-back {
  font-size: 13px;
}
