html {
	background-image: linear-gradient(to bottom, rgb(35, 32, 32), rgb(102, 95, 95) 85%);
	background-repeat: no-repeat;
}

body {
	min-height: 100vh;
}

h1 {
	color: #b5b5b5;
    font-size: 600%;
	text-align: center;
}

.biorhyme-destiny-2 {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav {
	display: flex;
	gap: 9px;
	padding: 0%;
	width: 150px;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 8px auto 50px auto;  
}

nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: flex;
	color:  rgb(255, 142, 20);
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #00d0ff;
	border-radius: 10%;
	background-image: linear-gradient(to bottom, rgb(35, 32, 32), rgb(102, 95, 95) 85%);
	background-repeat: no-repeat;
	box-shadow: 1px 2px 12px #00d0ff;
}

nav a:hover {
	background-color: rgb(153, 50, 243);
}

p {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 65%;
	min-width: 50%;
}